@using NewsApplication.Models
@model Category


    @{
    Layout="~/Views/Shared/_Admin.cshtml";
    ViewBag.Title ="ادارة التصنيفات";
    ViewBag.BoxTitle = "تعديل تصنيف  ";
}

<form asp-action="ُEdit" asp-controller="Categories" method="post">
    @Html.HiddenFor(x=>x.Id)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">

        اسم التصنيف
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name"  class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        وصف التصنيف
        <label asp-for="Description"   class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
     <div class="form-group">
        <input type="submit" class="btn btn-primary" value="تعديل"/>
    </div>

   
</form>
